webservices/src/main/webapp/wsdl/DataUploadService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IDataUploadServiceService" targetNamespace="http://services.webservices.bill.freeway.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://services.webservices.bill.freeway.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.webservices.bill.freeway.com/" targetNamespace="http://services.webservices.bill.freeway.com/" version="1.0">
<xs:element name="result" type="tns:wsResult"/>
<xs:complexType name="insertliterary">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="insert" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="wsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="uploadLaneOutResponse">
    <wsdl:part name="result" type="tns:wsResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadOTimeNewResponse">
    <wsdl:part name="result" type="tns:wsResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadLaneOut">
    <wsdl:part name="laneoutsqls" type="tns:insertliterary">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadOTimeNew">
    <wsdl:part name="otimesqls" type="tns:insertliterary">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IDataUploadService">
    <wsdl:operation name="uploadLaneOut">
      <wsdl:input name="uploadLaneOut" message="tns:uploadLaneOut">
    </wsdl:input>
      <wsdl:output name="uploadLaneOutResponse" message="tns:uploadLaneOutResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadOTimeNew">
      <wsdl:input name="uploadOTimeNew" message="tns:uploadOTimeNew">
    </wsdl:input>
      <wsdl:output name="uploadOTimeNewResponse" message="tns:uploadOTimeNewResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IDataUploadServiceServiceSoapBinding" type="tns:IDataUploadService">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="uploadLaneOut">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="uploadLaneOut">
        <soap:body use="literal" namespace="http://services.webservices.bill.freeway.com/"/>
      </wsdl:input>
      <wsdl:output name="uploadLaneOutResponse">
        <soap:body use="literal" namespace="http://services.webservices.bill.freeway.com/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadOTimeNew">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="uploadOTimeNew">
        <soap:body use="literal" namespace="http://services.webservices.bill.freeway.com/"/>
      </wsdl:input>
      <wsdl:output name="uploadOTimeNewResponse">
        <soap:body use="literal" namespace="http://services.webservices.bill.freeway.com/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IDataUploadServiceService">
    <wsdl:port name="IDataUploadServicePort" binding="tns:IDataUploadServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/IDataUploadServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
